# Ignore all .env files
**/*.env

# Ignore all directories named postgres-data
**/postgres-data/

# Ignore all .json files
**/*.json

.idea/

.idea

**/*.log

venv/

**/venv/

**/__pycache__/

# Игнорировать все __pycache__ директории
__pycache__/

# Игнорировать все .pyc файлы
*.pyc
*.pyo

.log
