version: '3.2'
services:
  report_bot:
    build:
      context: sublet
    stop_signal: SIGKILL
    ports:
      - 5001
    networks:
      - webnet
    depends_on:
      - postgres
    volumes:
      - ./media:/telegram_bot/media

  postgres:
    image: postgres
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    networks:
      - webnet

networks:
  webnet:
